ul {
	list-style-type: none; 
	margin: opx;
	padding: 0px;
		
}
li {
	width: 200px; 
	background-color: white; 
	display: block; 
}
/* style below for the links ot appear similar to that of google's page */
a {
	width: 50px;
	padding: 9px;
	background-color: white; 
    display: inline-flex;
	padding-left: 20px;
	margin: 10px; 
    color: #000;
    opacity: 0.75;
	text-decoration-line: none;
}
/* .header currently separates the top links, links appear to be split based off of ul div grouping */

.header {
	display: grid; 
	grid-template-columns: 1fr 1fr;

}
/* .footer currently separates the top links, links appear to be split based off of ul div grouping */
.footer{

	display: grid; 
	grid-template-columns: 1fr 1fr;
	
}

